.multivalueselect__container {
  line-height: 1.6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  color: #ddd;
  visibility: visible;
}

.multivalueselect__input-container {
  float: left;
  max-width: 420px;
  width: 100%;
  margin-inline-end: 10px;
  padding-top: 5px;
  line-height: 1.6;
  font-size: 1.1em;
  color: #ddd;
}

.multivalueselect__input {
  font-size: 1em;
  background-color: #222;
  border: 1px solid #555;
  color: #ddd;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;  
}

.multivalueselect__button-container {
  line-height: 1.6;
  font-size: 1.1em;
  color: #ddd;
  padding: 5px 0 10px;
}

.multivalueselect__button {
  cursor: pointer;
}

.multivalueselect__button-icon {
  white-space: pre;
  cursor: pointer;
  text-align: center;
  user-select: none;
  color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: -16px -128px;
  background-image: none !important;
  display: inline-block;
  font: normal normal normal 14px/16px sans-serif;
  height: 1.2em;
  line-height: 1.2em;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -99999em;
  vertical-align: middle;
  width: 1.2em;
  margin: -.25em 0 -.15em 0;
}

.multivalueselect__button-icon::after {
  display: block;
  height: 1em;
  left: 50%;
  line-height: 1;
  margin: -.5em;
  position: absolute;
  text-align: center;
  text-indent: 0;
  text-transform: none;
  top: 38%;
  width: 1em;
  font-size: 1.25rem;
}

.multivalueselect__label {
  line-height: 1.6;
  margin-top: 20px;
  font-weight: bold;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
  color: #ddd;
}
.multivalueselect__button-icon--plus::after {
  content: "+";
}