body {
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: #ddd;
  font-size: 13px;
  line-height: 1.6;
  width: 100%;
}

code {
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;  
}

.title {
  color: #f9f9f9;
}

.header--title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.header--logo {
  margin-right: 8px;
  height: 24px;
}

.header--extension-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-bottom: 16px;

}

.section-title {
  font-size: 1.1em;  
  display: flex;
  flex-direction: row;
  margin: 30px 0 15px 0;
}

.section-title::after {
  border-bottom: 1px solid #555;
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #d3d3d3;
  margin: auto;
  margin-inline-start: 10px;  
}

div.checkbox + div.checkbox {
  margin-top: 5px;
}
div.checkbox {
  max-width: 600px;
  white-space: nowrap;
}

div.button,
div.multivalue,
div.inputtext {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
}

div.button > label,
div.inputtext > label {
  flex: 1 0 150px;
  max-width: 300px;  
}

div.button > label + *,
div.inputtext > label + * {
  flex: 1 0 100px;
  max-width: 100px;
}

#prefixes,
div.multivalue {
  width: 400px;
  max-width: 400px;
}

.indent1 {
  margin-inline-start: 25px;
}

label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.1em;
}

input[type=checkbox] {
  flex: none;
  margin-inline-end: 0.8em;
}

input[type=number],
input[type=text] {
  background-color: #222;
  border: 1px solid #555;
  color: #ddd;
  padding: 8px;
}

input[type=number] {
  max-width: 80px !important;
}

button {
    white-space: pre;
    padding: .4em 1em;
    display: inline-block;
    position: relative;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    overflow: visible;
    font-weight: normal;
    text-decoration: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: Verdana, Arial, sans-serif;
    line-height: normal;
    font-size: 1em;
    background-color: #555;
    background-image: none;
    border: 1px solid #777;
    color: #f9f9f9;
}

button:hover {
  background-color: #666;
  border: 1px solid #bbb;  
}