.popup {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 200px;
  padding: 10px;
}

.popup__invalid-text {
  font-size: 0.75rem;
}

